# cache
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.cov_cache/

# tests
tests/data/.yamk/
tests/data/dir/
tests/data/requires_build
.coverage

# installation artifacts
.yamk/
poetry.lock

# Distribution / packaging
docs/build/
pip-wheel-metadata/
dist/
*.egg-info/

# dev
local*
local/
