# cache
__pycache__/
.pytest_cache/

# tests
tests/data/.yamk/
tests/data/dir/
tests/data/requires_build

# installation artifacts
.yamk/
poetry.lock

# Distribution / packaging
pip-wheel-metadata/
dist/
*.egg-info/
