# cache
__pycache__/
.pytest_cache/

# tests
.coverage
htmlcov/
tests/data/.yamk/
tests/data/dir/
tests/data/requires_build

# installation artifacts
requirements.txt

# Distribution / packaging
pip-wheel-metadata/
dist/
*.egg-info/
